<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Actiview_CatalogSearchSpamFilter::config</resource>
            <group id="catalog_search_spam_filter" translate="label" type="text" sortOrder="505" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Search Spam Filter</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="words" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Words / characters</label>
                    <comment>One word or character to filter as spam.</comment>
                    <frontend_model>Actiview\CatalogSearchSpamFilter\Block\Adminhtml\Form\Field\Words</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
